body {
  margin: 0px;
  padding: 0px;
  background: #fafafa;
}

h2 {
  margin: 0px;
}

#lside {
z-index: 1;
position: absolute;
top: 0%;
left: 0%;
width: 200px;
height: 705px;
color: #7f8c8d;
}


#bottom{
position: absolute;
bottom: 3%;
width: 80%;
text-align: left;
left: 17px;
color: #F3F2F2;
opacity: 0.5;
height: 5%;
padding-bottom: 0%;
  transition: all 0.5s ease;
}

#bottom:hover {
  opacity: 1;
    transition: all 0.5s ease;
}



#title{
position: absolute;
color: #F3F2F2;
opacity: 0.8;
bottom: -5px;
left: 10%;
font-size: 25px;
font-family: 'Inconsolata';
}

#coffee{
position: absolute;
width: 62%;
height: 100%;
bottom: 13.7%;
left: 100%;
}

#timer {
position: absolute;
left: 16%;
top: 3%;
height: 5.5%;
width: 52%;
background: none;
padding-top: 2%;
color: #F3F2F2;
border: 1px solid;
border-radius: 10px;
font-size: 28px;
text-align: center;
font-size: 30px;
font-family: 'Inconsolata';
opacity: 0.8;
}

#currentcountry {
color: #fafafa;
width: 50%;
padding: 10px;
}


#rside {
position: absolute;
right: 0%;
border-right: none; 
height: 600px;
width: 250px;
top: 50px;
opacity: 0.8;
}

#infoBox {
width: 92%;
border-bottom: 1px solid #fafafa;
font-family: 'Inconsolata';
position: absolute;
color: #2194CE;
font-size: 25px;
padding-left: 15px;
padding: 10px;
}

#countryName {
position: absolute;
top: 48px;
height: 50%;
border-bottom: 1px solid #fafafa;
width: 100%;
color: #fafafa;
}

#troopsInCountry{
  color: #fafafa;
}

#troopLocations {
width: 92%;
border-bottom: 1px solid #fafafa;
font-family: 'Inconsolata';
position: absolute;
color: #fafafa;
padding-left: 15px;
padding: 10px;
top: 348px;
}

#playerTroops {
/*  position: absolute;
  border: 2px solid #fafafa;*/
}

#about{
position: absolute;
right: 71px;
bottom: -44px;
font-size: 30px;
color: #2194CE;
opacity: 1;
cursor: pointer;
}

#container {
  position:absolute;
  background: #fafafa;
  width: 100%;
  height: 100%;
}
