body {
  margin: 0px;
  padding: 0px;
  background: #fafafa;
}

h2 {
  margin: 0px;
}

#lside {
z-index: 1;
position: absolute;
top: 0%;
left: 0%;
width: 200px;
height: 705px;
color: #7f8c8d;
}


#bottom{
position: absolute;
bottom: 3%;
width: 80%;
text-align: left;
left: 17px;
color: #F3F2F2;
opacity: 0.5;
height: 5%;
padding-bottom: 0%;
  transition: all 0.5s ease;
}

#bottom:hover {
  opacity: 1;
    transition: all 0.5s ease;
}



#title{
position: absolute;
color: #F3F2F2;
opacity: 0.8;
bottom: -5px;
left: 10%;
font-size: 25px;
font-family: 'Inconsolata';
}

#coffee{
position: absolute;
width: 62%;
height: 100%;
bottom: 13.7%;
left: 100%;
}

#timer {
position: absolute;
left: 16%;
top: 3%;
height: 5.5%;
width: 52%;
background: none;
padding-top: 2%;
color: #F3F2F2;
border: 1px solid;
border-radius: 10px;
font-size: 28px;
text-align: center;
font-size: 30px;
font-family: 'Inconsolata';
opacity: 0;
transition: all 1s linear;
transition-delay: 4.5s;
}

#currentcountry {
color: #fafafa;
width: 50%;
padding: 10px;
}


#rside {
position: absolute;
right: -100%;
border-right: none; 
height: 600px;
width: 250px;
top: 50px;
opacity: 0.8;

transition: all 2s linear;
transition-delay: 2.5s;
/*-webkit-transition: all 2s linear;*/
/*-webkit-transform:rotate(180deg);*/
}

#infoBox {
text-align: center;
width: 92%;
border-bottom: 1px solid #fafafa;
font-family: 'Inconsolata';
position: relative;
color: #2194CE;
font-size: 25px;
padding-left: 15px;
padding: 10px;
transition: all 1s linear;
}

#countryName {
position: absolute;
top: 48px;
height: 50%;
border-bottom: 1px solid #fafafa;
width: 100%;
color: #fafafa;
transition: all 1s linear;
}

#troopsInCountry{
  color: #fafafa;
  transition: all 1s linear;
}

#showTroops {
position: absolute;
font-family: 'Inconsolata';
color: #F3F2F2;
border: 1px solid;
padding: 5px;
top: -40px;
opacity: 0;
border-radius: 10px;
cursor: pointer;
transition: all 1s linear;
transition-delay: 4.5s;
}


#troopLocations {
width: 92%;
border-bottom: 1px solid #fafafa;
font-family: 'Inconsolata';
position: absolute;
color: #fafafa;
padding-left: 15px;
padding: 10px;
top: 348px;
}

#playerTroops {
/*  position: absolute;
  border: 2px solid #fafafa;*/
}

#about{
position: absolute;
right: 10px;
bottom: -44px;
font-size: 30px;
color: #2194CE;
opacity: 1;
cursor: pointer;
transition: all 1s linear;
transition-delay: 4.5s;
}

#container {
  position:absolute;
  background: #fafafa;
  width: 100%;
  height: 100%;
}


/* new css */
.activeCountry{
  position: relative;
  border-bottom: 1px solid #fafafa;
  width: 100%;
  top: 8%;
  color: #E57C09;
  padding-top: 10px;
}

.targetCountry{
  position: relative;
  border-bottom: 1px solid #fafafa;
  width: 100%;
  top: 20%;
  color: #E57C09;
  padding-top: 10px;
}

.standingArmies{
  position: relative;
  border-bottom: 1px solid #fafafa;
  color: #E57C09;
  padding-top: 10px;
}

.header {
  color: #2194CE;
  text-align: center;
  padding: 5px;
}

.myArmy {
  padding: 5px;
  color: #fafafa;
  font-size: 3em;
  position: absolute;
}

.army {
  padding: 5px;
  color: #fafafa;
}









