body {
  margin: 0px;
  padding: 0px;
  background: #fafafa;
}

h2 {
  margin: 0px;
}

#lside {
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 200px;
  height: 705px;
  color: #7f8c8d;
}


#bottom{
  position: absolute;
  bottom: 3%;
  width: 80%;
  text-align: left;
  left: 17px;
  color: #F3F2F2;
  opacity: 0.5;
  height: 5%;
  padding-bottom: 0%;
  transition: all 0.5s ease;
}

#bottom:hover {
  opacity: 1;
    transition: all 0.5s ease;
}

#coffee{
  position: absolute;
  width: 50%;
  height: 100%;
  bottom: 12.7%;
  left: 100%; 
}

#timer {
  position: absolute;
  left: 10%;
  top: 3%;
  height: 5.5%;
  width: 52%;
  background: none;
  padding-top: 2%;
  color: #F3F2F2;
  border: 1px solid;
  border-radius: 10px;
  font-size: 28px;
  text-align: center;
  font-size: 30px;
  font-family: 'Inconsolata';
  opacity: 0;
  transition: all 1s linear;
  transition-delay: 4.5s;
}

#currentcountry {
  color: #fafafa;
  width: 50%;
  padding: 10px;
}


#rside {
  position: absolute;
  right: -100%;
  border-right: none; 
  height: 600px;
  width: 200px;
  top: 90px;
  opacity: 0.8;
  transition: all 2s linear;
  transition-delay: 2.5s;
}

#infoBox {
  text-align: center;
  width: 92%;
  border-bottom: 1px solid #fafafa;
  font-family: 'Inconsolata';
  position: relative;
  color: #2194CE;
  font-size: 25px;
  padding-left: 15px;
  padding: 10px;
  transition: all 1s linear;
}

#countryName {
  position: absolute;
  top: 48px;
  height: 50%;
  border-bottom: 1px solid #fafafa;
  width: 100%;
  color: #fafafa;
  transition: all 1s linear;
}

#troopsInCountry{
  color: #fafafa;
  transition: all 1s linear;
}

#showTroops {
  position: absolute;
  font-family: 'Inconsolata';
  color: #F3F2F2;
  border: 1px solid;
  padding: 5px;
  top: -40px;
  opacity: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 1s linear;
  transition-delay: 4.5s;
}


#troopLocations {
  width: 92%;
  border-bottom: 1px solid #fafafa;
  font-family: 'Inconsolata';
  position: absolute;
  color: #fafafa;
  padding-left: 15px;
  padding: 10px;
  top: 348px;
}

#playerTroops {
/*  position: absolute;
  border: 2px solid #fafafa;*/
}

#about{
  position: absolute;
  right: 10px;
  bottom: -44px;
  font-size: 30px;
  color: #2194CE;
  opacity: 1;
  cursor: pointer;
  transition: all 1s linear;
  transition-delay: 4.5s;
}

#container {
  position:absolute;
  background: #fafafa;
  width: 100%;
  height: 100%;
}


/* new css */
.activeCountry{
  position: relative;
  border-bottom: 1px solid #fafafa;
  width: 100%;
  top: 8%;
  color: #E57C09;
  padding-top: 10px;

}

.targetCountry{
  position: relative;
  border-bottom: 1px solid #fafafa;
  width: 100%;
  top: 20%;
  color: #E57C09;
  padding-top: 10px;
}

.standingArmies{
  position: relative;
  border-bottom: 1px solid #fafafa;
  color: #E57C09;
  padding-top: 10px;
}

.header {
  color: #2194CE;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

.myArmy {
  padding: 5px;
  color: #fafafa;
  padding-left: 0px;
}

.army {
  padding: 5px;
  color: #fafafa;
  margin: 0px;
  padding-left: 20px;
}

#title {
  position: relative;
  left: 0px;
  color: #2194CE;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: 'Inconsolata';
  opacity: 0.8;
  bottom: -5px;
}

#titleLogo {
  position: absolute;
  color: #F3F2F2;
  opacity: 0.8;
  bottom: -5px;
  left: 10%;
  font-size: 25px;
  font-family: 'Inconsolata';
}

#systemTop {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #fafafa;
  top: 90px;
  text-align: center;
  left: 50px;
  opacity: 0;
  transition: all 1s linear;
  transition-delay: 4.5s;
}

#systemBottom {
  position: absolute;
  border-bottom: 1px solid #fafafa;
  border-top: 1px solid #fafafa;
  top: 140px;
  width: 100%;
  margin-top: 70%;
  height: 40%;
  left: 50px;
  padding: 5px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(245,245,245, 0.1));
  transition: all 1s linear;
  transition-delay: 4.5s;
}

#gif {
  position: absolute;
  padding: 5%;
  margin-top: 10%;
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
  width: 125px;
  height: 125px;
  /* margin-left: 23%; */
  left: 30px;
  top: -168px;
}






