body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background: #111;
}


#timer {
  border: 2px solid #7f8c8d;
  display: inline-block;
  width: 100px;
  margin: 13px 40px;

  background: linear-gradient(to left, rgba(245,245,245, 0.2), rgba(0,0,0,0), rgba(245,245,245, 0.2));

  color: #ff0000;
  font-size: 2em;
  font-family: 'Inconsolata';
  text-align: center;

  opacity: 0;
  transition: all 1s linear;
  transition-delay: 2.5s;*/
}


#left {
  z-index: 1;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 200px;
  height: 705px;
  color: #7f8c8d;
}

#title {
  position: relative;
  left: 0px;
  color: #2194CE;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: 'Inconsolata';
  opacity: 0.8;
  bottom: -5px;
}

#systemTop {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #fafafa;
  top: 90px;
  text-align: center;
  left: 50px;
  opacity: 0;
  transition: all 1s linear;
  transition-delay: 4.5s;
}

#systemBottom {
  position: absolute;
  border-bottom: 1px solid #fafafa;
  border-top: 1px solid #fafafa;
  top: 140px;
  width: 100%;
  margin-top: 70%;
  height: 40%;
  left: 50px;
  padding: 5px;
  opacity: 0;
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(245,245,245, 0.1));
  transition: all 1s linear;
  transition-delay: 4.5s;

}

.avatar {
  position: absolute;
  padding: 5%;
  margin-top: 10%;
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
  width: 125px;
  height: 127px;
  /* margin-left: 23%; */
  left: 30px;
  top: 23px;
}

#right {
  position: absolute;
  right: -100%;
  height: 600px;
  width: 200px;
  top: 50px;
  opacity: 0.8;
  transition: all 2s linear;
  transition-delay: 2.5s;
}

#right > .section {
  border-top: 1px solid;
  width: 110%;
  height: 30%;
  top: 8%;
  color: #fafafa;
  padding-top: 3px;
  padding-left: 3px;
  font-family: 'Inconsolata';
}

.section > h1 {
  color: #E57C09;
  font-size: 1em;
  font-family: 'Inconsolata';
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
}

.deactivate {

  cursor: pointer;
  border: 1px solid #7f8c8d;
  display: inline-block;
  width: 5em;
  padding: 0px 0.5em 0px 0.5em;
  margin-left: 25%;
  background: linear-gradient(to left, rgba(245,245,245, 0.2), rgba(0,0,0,0), rgba(245,245,245, 0.2));

  font-size: 1em;
  font-family: 'Inconsolata';
  text-transform: uppercase;
  color: #ff0000;
  text-align: center;
  font-weight: bold;

}

.section h2 {
  color: #2194CE;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  padding: 0px;
  transition: all 1s linear;

}

.section h3 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  margin: 0px;
  padding: 0px;
  transition: all 1s linear;
  width: 150px;
  margin-left: 25px;
}

.army {
  padding: 4px;
  margin: 5px;
  margin-right: 5px;
  margin-left: -5px;
  background: linear-gradient(to left, rgba(0,0,0,0), rgba(245,245,245, 0.2));
  color: #7f8c8d;
  display: inline-block;
  opacity: 0.8;
  width: 200px;
  font-family: 'Inconsolata';
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: all 0.3s linear;
}

.army:hover {
  color: #fafafa;
  cursor: pointer;
  transition: all 0.3s linear;
}

.insideButton {
  border: 1px solid #fafafa;
  background-color: green;
  margin-top: -13px;
  margin-left: 185.4px;
  border-radius: 50%;
  width: 4%;
  height: 8px;
  position: absolute;
  transition: all 0.4s linear;
}

.active .insideButton {
  background-color: red;
}
.target .insideButton {
  background-color: yellow;
}


.dec-arrow {
  margin: -5% 10%;
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #E57C09;
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.inc-arrow {
  margin: -5% 90%;
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #E57C09;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /*border-radius: 50%;*/
}

.standingArmies > .wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  height: inherit;
  position: absolute;
}

.messages {
  padding: 5%;
  width: 110%;
  height: 85%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}