body {
  margin: 0px;
  padding: 0px;
  background: #fafafa;
}

h2 {
  margin: 0px;
}

#lside {
z-index: 1;
position: absolute;
top: 0%;
left: 0%;
width: 200px;
height: 705px;
color: #7f8c8d;
background-color: #fafafa;
/* border-right: 1px solid #555; */
/* opacity: 0.9; */

}


#bottom{
position: absolute;
bottom: 3%;
width: 80%;
text-align: left;
left: 17px;
color: #B5B5B5;
opacity: 0.2;
  transition: all 0.5s ease;
}

#bottom:hover {
  opacity: 1;
    transition: all 0.5s ease;
}



#title{
position: absolute;
color: #2194CE;
opacity: 0.8;
bottom: -5px;
left: 10%;
font-size: 25px;
font-family: 'Inconsolata';
}

#coffee{
position: absolute;
width: 62%;
height: 100%;
bottom: 13.7%;
left: 100%;
}

#search {
position: absolute;
left: 16%;
top: 3%;
height: 5.5%;
width: 52%;
background: none;
padding-top: 2%;
color: #555;
border: 1px solid;
border-radius: 10px;
font-size: 28px;
text-align: center;
font-size: 30px;
font-family: 'Inconsolata';
cursor: pointer;
opacity: 0.8;
}


#rside {
  position: absolute;
right: 5%;
border-left: 2px solid #555;
height: 600px;
top: 50px;
opacity: 0.8;
}

#rtopbar{
  position: absolute;
width: 50px;
border-bottom: 2px solid;
left: -26px;
opacity: 0.8;
}

#rbottombar {
  position: absolute;
width: 50px;
border-bottom: 2px solid;
left: -26px;
bottom:0px;
opacity: 0.8;
}

#zoom {
  position: absolute;
width: 40px;
height: 5px;
background-color: #62A07B;
left: -21px;
bottom: 1%;
margin-bottom: 1%;
margin-top: 1%;
}

#container {
  position:absolute;
  background: #fafafa;
  width: 100%;
  height: 100%;
}